.borda-tabela {
    border: 1px solid black;
    margin: 5px;
}

th, td {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.jogo-header{
    background-color: antiquewhite;
    width: 100%;
    height: 150px;
}

.centro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sorteado{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 30px;
    height: 30px;
    color: blue;
    background-color: pink;
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin: 5px;
}